<a name="#answer-<%= answer.id %>"></a>

<div class="answer-content clearfix">
  <div class="answer-header">
    <h4><%= "Answer by " + answer.author.username %></h4>
  </div>
  <div class="answer-sidebar">
    <div class="answer-votes"></div>

    <div class=<%= ((ProHotlineApp.question.get("best_answer_id") == answer.id) ? "best" : "not-best") %>>
      <div class="if-best">
        <p><i class="fa fa-check"></i></p>
      </div>
      <div class="if-not-best">
        <% if (ProHotlineApp.question.get("author_id") == ProHotlineApp.currentUserId) { %>
          <i class="mark-best-answer fa fa-check"></i>
        <% } %>
      </div>
    </div>
  </div>

  <div class="answer-the-rest">

  	<pre class = "answer-body"><%= answer.escape("body") %></pre>
    <div class="answer-info clearfix">
      <div class="answer-author-info">
        Answered by 
        <img width="50" height="50" src=<%= ((answer.author.backup_image == "") ? "https://secure.gravatar.com/avatar/" + md5(answer.author.email) + "?s=50" : "/assets/" + answer.author.backup_image) %>></img>
        <a href="/users/<%= answer.author.id %>">
          <%= answer.author.username %>
        </a>
        <%= answer.createdAgo() %>
        <% if (ProHotlineApp.currentUser && answer.author.id == ProHotlineApp.currentUserId) { %>
          <i class="edit-answer fa fa-edit"></i>
          <i class="delete-answer fa fa-trash-o"></i>
        <% } %>
      </div>


    </div> 

    <ul class="comments"></ul>
    <div class="new-comment"></div>
  </div>
</div>


