<div class="answer-content clearfix">
  <div class="answer-header">
    <h4><%= "Answer by " + answer.author.username %></h4>
  </div>
  <div class="answer-sidebar">
    <div class="answer-votes"></div>

    <div class=<%= ((ProHotlineApp.question.get("best_answer_id") == answer.id) ? "best" : "not-best") %>>
      <div class="if-best">
        <p><i class="fa fa-check"></i></p>
      </div>
      <div class="if-not-best">
        <% if (ProHotlineApp.question.get("author_id") == ProHotlineApp.currentUserId) { %>
          <i class="mark-best-answer fa fa-check"></i>
        <% } %>
      </div>
    </div>
  </div>

  <div class="answer-the-rest">

  	<div class = "answer-body">
  	  <%= answer.escape("body") %>
  	</div>
    <div class="answer-info clearfix">

      <div class="answer-author-info">
        Authored by 
        <a href="/users/<%= answer.author.id %>">
          <%= answer.author.username %>
        </a>
      </div>

      <div class="edit-tools">
	      <% if (ProHotlineApp.currentUser && answer.author.id == ProHotlineApp.currentUserId) { %>
  	      <i class="edit-answer fa fa-edit"></i>
  	      <i class="delete-answer fa fa-trash-o"></i>
	      <% } %>
	    </div>
    </div> 

    <ul class="comments"></ul>
    <div class="new-comment"></div>
  </div>
</div>


