<div class="user-info">
  <h1><%= @user.username %></h1>
  <%= gravatar_for(@user) %>
  <p>Joined on <%= @user.created_at %></p>
</div>

<div class="profile">
<h2>Profile</h2>
<div class="profile-body">
	<%= @user.profile %>
</div>
</div>

<p>Authored <%= @user.authored_questions.count %> Questions </p>
<ul>
<% @user.authored_questions.try(:each) do |question| %>
	<li>
		<%= link_to question.title, question_url(question) %>
	</li>
<% end %>
</ul>
<p>Authored <%= @user.authored_answers.count %> Answers </p>
<ul>
<% @user.authored_answers.includes(:question).try(:each) do |answer| %>
	<li>
		<%= link_to answer.question.title, question_url(answer.question, :anchor => answer.id) %>
	</li>
<% end %>
</ul>