<div class="user-top-half clearfix">
  <div class="user-info">
    <%= gravatar_for @user, :size => 90 %>
    <h1 class="user-name"><%= @user.username %></h1>
    <p>Joined on <%= @user.created_at %></p>
  </div>

  <div class="profile"></div>

</div>

<div id="activity-label">
  <h2>User Activity</h2>
</div>

<div id="the-image" class="clearfix">
  <div id="box1"></div>
  <div id="box2"></div>
  <div id="box3"></div>
  <div id="box4"></div>
  <div id="box5"></div>
  <div id="box6"></div>
</div>

<div class="user-bottom-half clearfix">

	<div class="user-questions lead">
    <p>
      <% count = @user.authored_questions.count %>
      Authored <%= count %> 
      <%= (count == 1) ? "Question" : "Questions" %> 
    </p>
    <ul>
    <% @user.authored_questions.try(:each) do |question| %>
    	<li>
            <span class="user-questions-votes"><%= question.vote_count %></span>
    		<%= link_to question.title, question_url(question) %>
    	</li>
    <% end %>
    </ul>
	</div>

	<div class="user-answers lead">
    <p>
      <% count = @user.authored_answers.count %>
      Authored <%= count %> 
      <%= (count == 1) ? "Answer" : "Answers" %> 
    </p>
    <ul>
    <% @user.authored_answers.includes(:question).try(:each) do |answer| %>
    	<li>
            <span class="user-answers-votes"><%= answer.vote_count %></span>            
    		<%= link_to answer.question.title, question_url(answer.question) %>
    	</li>
    <% end %>
    </ul>
	</div>

	<div class="user-tags lead">
    <p>Followed Tags </p>
    <ul>
    <% @user.tags.try(:each) do |tag| %>
      <li class="tag label label-info">
        <div>
          <a href="/tags/<%= tag.id %>">
            <%= link_to tag.name, tag_url(tag) %>
          </a>
        </div>
      </li>
    <% end %>
    </ul>
	</div>

</div>

<script type="text/javascript">
  $.ajaxSetup({
    cache: false
  });
  
  $(document).ready(function () {
		// Initialize global variables
		ProHotlineApp.currentUserId = $("#current-user").attr("data-id")
		ProHotlineApp.currentUser = (ProHotlineApp.currentUserId ? true : false)

		ProHotlineApp.user = new ProHotlineApp.Models.User();
		ProHotlineApp.user.set('id', <%= @user.id %>);
		ProHotlineApp.user.fetch({
			success: function () {
        var profileView = new ProHotlineApp.Views.Profile({
          model: ProHotlineApp.user
        });
        $("div.profile").html(profileView.render().$el);
			}
		});	
	});
</script>