<h1>Title: <%= question.escape("title") %></h1>
<h4>Authored by <%= question.author.username %></h4>
<h4>Views: <%= question.viewCount %></h4>
<div class="votes"></div>

<h2>Body</h2>
<div class="question-body">
	<%= question.escape("body") %>
</div>

<div class="tags">
	<h4>Tags</h4>
	<ul>
		<% question.tags.each(function (tag) { %>
		  <li><%= tag.escape("name") %></li>
		<% }); %>
  </ul>
</div>

<h4>Comments</h4>
<div class="new-comment"></div>
<div class="comments"></div>

<div class="new-answer"></div>
