
<div class="question-content clearfix">
  <div class="question-title">
    <h2><%= question.escape("title") %></h2>
  </div>
  <div class="question-votes"></div>

  <div class="question-the-rest">

  	<div class = "question-body">
  	  <%= question.escape("body") %>
  	</div>
  	<ul class="tags">
  		<% question.tags.each(function (tag) { %>
  		  <li class="tag label label-info">
          <a href="/tags/<%= tag.id %>">
            <%= tag.escape("name") %>
          </a>
        </li>
  		<% }); %>
    </ul>
    <div class="question-info clearfix">
      <div class="question-author-info">
        Asked by 
        <a href="/users/<%= question.author.id %>">
          <%= question.author.username %>
        </a>
        <%= question.createdAgo() %>
      </div>
      <div class="edit-tools">
        <% if (ProHotlineApp.currentUser && question.author.id == ProHotlineApp.currentUserId) { %>
          <i class="edit-question fa fa-edit"></i>
          <i class="delete-question fa fa-trash-o"></i>
        <% } %>
      </div>
    </div> 

    <ul class="comments"></ul>
    <div class="new-comment"></div>
  </div>
</div>






<div class="new-answer"></div>
