
<div class="question-content clearfix">
  <div class="question-title">
    <h3><%= question.escape("title") %></h3>
  </div>
  <div class="question-votes"></div>

  <div class="question-the-rest">

  	<pre class = "question-body"><%= question.escape("body") %></pre>
  	<ul class="tags">
  		<% question.tags.each(function (tag) { %>
  		  <li class="tag label label-info">
          <a href="/tags/<%= tag.id %>">
            <%= tag.escape("name") %>
          </a>
        </li>
  		<% }); %>
    </ul>

    <div class="question-info clearfix">
      <div class="question-author-info">
        Asked by 
        <img width="50" height="50" src=<%= ((question.author.backup_image == "") ? "https://secure.gravatar.com/avatar/" + md5(question.author.email) + "?s=50" : "/assets/" + question.author.backup_image) %>></img>
        <a href="/users/<%= question.author.id %>">
          <%= question.author.username %>
        </a>
        <%= question.createdAgo() %>
        <% if (ProHotlineApp.currentUser && question.author.id == ProHotlineApp.currentUserId) { %>
          <i class="edit-question fa fa-edit"></i>
          <i class="delete-question fa fa-trash-o"></i>
        <% } %>
      </div>

    </div> 

    <ul class="comments"></ul>
    <div class="new-comment"></div>
  </div>
</div>






<div class="new-answer"></div>
