<li class="question-mini">
	<div class="item side-item">
	  <div class="sub-item">
	    <%= question.voteCount() %>
	  </div>
	  <div class="sub-item">
	    Votes
	  </div>
	</div>
	<div class="item side-item" data-best="<%= (answered ? "true" : "") %>">
	  <div class="sub-item">
	    <%= question.answers.length %>
	  </div>
	  <div class="sub-item">
	    Answers
	  </div>
	</div>
	<div class="item side-item">
	  <div class="sub-item">
	    <%= question.viewCount %>
	  </div>
	  <div class="sub-item">
	    Views
	  </div>
	</div>
	<div class="item">
	<a href="/questions/<%= question.escape("id")%>" class="lead">
	  <%= question.escape("title") %> 
	</a>
	--
	<a href="/users/<%= question.author.id %>">
	  <%= question.author.username %>
	</a>
	<span>Created: <%= question.createdAt() %></span>
	<ul class="tags">
		<% question.tags.each(function (tag) { %>
		  <li class="tag label label-info">
		    <a href="/tags/<%= tag.id %>">
		      <%= tag.escape("name") %>
		    </a>
		  </li>
		<% }); %>
  </ul>
  <div>
</li>