<!DOCTYPE html>
<html>
<head>

  <title>ProHotline</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<!-- Dummy bar to go underneath the fixed bar -->
  <div class="navbar">
    <div class="navbar-inner">
    </div>
  </div>
<!-- The real bar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Pro Hotline</a>
      <ul class="nav">
        <li id="questions-button"><%= link_to "Questions", questions_url %></li>
        <li id="users-button"><%= link_to "Users", users_url %></li>
        <li id="tags-button"><%= link_to "Tags", tags_url %></li>
      </ul>
      <ul class="nav pull-right">
        <% if !!current_user %>
          <li id="sign-out-button">
            <%= link_to "Sign Out", session_url, :method => :delete %>
          </li>
          <li id="current-user-gravatar">
              <%= gravatar_for current_user, :size => 40 %>
          </li>
          <li id="current-user" data-id="<%= current_user_id %>">
              <%= link_to current_user.username, user_url(current_user) %>
          </li>          
        <% else %>
          <li id="sign-in-button"><%= link_to "Sign In", new_session_url %></li>
          <li id="sign-up-button"><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
    </div>
  </div>

</head>

<body>
  <div class="body">
	  <ul>
	  	<% flash[:errors].try(:each) do |error| %>
  		<li><%= error %></li>
	  	<% end %>
  	</ul>
    <%= yield %>
  </div>
</body>

</html>